* {
  margin: 0 0;
  padding: 0 0;
  cursor: pointer; }

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
  border-right: 1px solid rgba(28, 90, 107, 0.4);
  border-bottom: 1px solid rgba(28, 90, 107, 0.4);
  border-left: 1px solid rgba(28, 90, 107, 0.4);
  cursor: pointer; }

a p {
  font-family: 'Glory', sans-serif; }

p {
  font-family: 'Comfortaa', cursive; }

h2 {
  font-family: 'Encode Sans SC', sans-serif; }

h3, h4, h5, h6 {
  font-family: 'Genos', sans-serif; }

button, a {
  cursor: grab; }
  button h3, button img, button p, a h3, a img, a p {
    cursor: grab; }

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
  background: rgba(140, 163, 163, 0.15); }

.navbar {
  position: fixed;
  width: 100%;
  max-width: 1280px;
  top: 0;
  margin: 0 0;
  padding: 0 0;
  background: white;
  border-bottom: 1px solid rgba(28, 90, 107, 0.5);
  z-index: 10; }
  .navbar .selectdrop {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1278px;
    margin: 0 0;
    padding: 0 0;
    background: rgba(142, 183, 183, 0.2);
    cursor: grab; }
    .navbar .selectdrop .nav_link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 51%;
      height: 1.1rem;
      max-height: 1.1rem;
      margin: 0 0;
      padding: .2rem 0;
      text-decoration: none; }
      .navbar .selectdrop .nav_link .icon {
        height: 15px;
        max-height: 15px;
        margin: .05rem .7rem 0 .7rem;
        background: white;
        border-radius: 3px;
        opacity: 0; }
      .navbar .selectdrop .nav_link .nav_text {
        margin: .06rem 0 0 0;
        color: #0182b0;
        font-size: .95rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 16px; }
      .navbar .selectdrop .nav_link .linkedin_icon {
        height: 17px;
        max-height: 17px;
        margin: 0 .6rem 0 .6rem; }
      .navbar .selectdrop .nav_link:hover {
        background: rgba(119, 165, 166, 0.15); }
        .navbar .selectdrop .nav_link:hover .icon {
          opacity: 1;
          transition: opacity .1s ease-in; }
        .navbar .selectdrop .nav_link:hover .nav_text {
          color: #0a3e4d; }
  .navbar .dropdownBackground {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    background: #116177;
    border: 1px solid #707070;
    box-shadow: 2px 0 3px rgba(2, 2, 2, 0.44), -2px 0 3px rgba(2, 2, 2, 0.44), 0 2px 3px rgba(2, 2, 2, 0.44), 0 -2px 3px rgba(2, 2, 2, 0.44), 4px 0 5px rgba(20, 20, 20, 0.22), -4px 0 5px rgba(20, 20, 20, 0.22), 0 4px 5px rgba(20, 20, 20, 0.22), 0 -4px 5px rgba(20, 20, 20, 0.22);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    z-index: 10; }
    .navbar .dropdownBackground.open {
      opacity: 1; }
    .navbar .dropdownBackground .droparrow {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      display: block;
      background: #116177;
      border-left: 1px solid #707070;
      border-top: 1px solid #707070;
      box-shadow: -2px -2px 2px rgba(2, 2, 2, 0.44), -4px -4px 4px rgba(20, 20, 20, 0.22);
      transform: translateY(-50%) rotate(45deg);
      z-index: -1; }
  .navbar .dropdown {
    display: block;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    padding: .4rem .4rem;
    top: -3rem;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(86px);
    will-change: opacity;
    display: none;
    z-index: 10; }
    .navbar .dropdown .check_out {
      color: white;
      font-size: .8rem;
      font-weight: 200;
      letter-spacing: .2rem;
      line-height: 1.3rem; }
      .navbar .dropdown .check_out span {
        color: #f09a06;
        font-weight: 400;
        text-shadow: none; }
  .navbar .trigger-enter .dropdown {
    display: block; }
  .navbar .trigger-enter-active .dropdown {
    opacity: 1; }

.page_header {
  position: sticky;
  width: 100%;
  max-width: 1278px;
  margin: 0 auto;
  padding: 0 0;
  top: 0;
  background: white;
  cursor: grab; }
  .page_header .header_bg {
    width: 100%;
    max-width: 1278px;
    margin: 0 auto;
    padding: 2.4rem 0 0 0;
    background: rgba(140, 163, 163, 0.15); }

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 94%;
  max-width: 94%;
  height: 5.8rem;
  margin: 0 auto;
  padding: 0 0;
  background: rgba(140, 163, 163, 0.6);
  border: 1px solid rgba(28, 48, 48, 0.4);
  box-shadow: inset 2px 2px 3px 0 rgba(43, 73, 73, 0.2), inset -2px -2px 3px 0 rgba(43, 73, 73, 0.2);
  overflow: hidden;
  animation: titleSlideIn 2s ease-in-out; }
  .header_content .header_flex {
    display: flex;
    flex-direction: row;
    width: 96%;
    max-width: 96%;
    height: 4rem;
    margin: 0 0;
    padding: 0 0;
    background: white;
    border: 1px solid rgba(28, 90, 107, 0.6);
    border-right: none;
    box-shadow: -1px -1px 2px 0 rgba(119, 140, 166, 0.4), -1px 1px 2px 0 rgba(119, 140, 166, 0.4); }
    .header_content .header_flex .page_title {
      width: 66%;
      margin: 0 0 0 1rem;
      padding: .4rem 0;
      text-align: end;
      letter-spacing: 1px; }
      .header_content .header_flex .page_title .name {
        width: 96%;
        margin: 0 0;
        padding: 0 0;
        color: #077a77;
        font-family: 'Jura', sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        text-shadow: 0 0 3px white; }
      .header_content .header_flex .page_title .cv {
        width: 96%;
        margin: 0 0;
        margin: 0 0 0 0;
        padding: 0 0;
        color: #555555;
        font-family: 'Genos', sans-serif;
        font-size: 2rem;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 2px;
        text-shadow: 0 0 3px white; }
    .header_content .header_flex .page_photo {
      margin: 0 0;
      padding: 0 0; }
      .header_content .header_flex .page_photo .myPhoto {
        height: 6.4rem;
        margin: -1.5rem 0 0 0;
        padding: 0 0;
        border: 1px solid #a2a2a2;
        box-shadow: 0 0 2px rgba(186, 186, 186, 0.4), 0 0 1px rgba(162, 162, 162, 0.6);
        z-index: -1; }

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1278px;
  max-height: 900px;
  margin: 0 auto;
  padding: 0 0;
  border: none;
  overflow: scroll; }

.building_section,
.info_section,
.proj_section,
.pop_up,
.pop_over {
  flex-direction: column;
  align-items: flex-end;
  width: 94%;
  max-width: 94%;
  margin: 0 auto;
  padding: 1rem 0 2.2rem 0;
  letter-spacing: 1px;
  background: rgba(140, 163, 163, 0.1);
  border: 1px solid rgba(28, 48, 48, 0.4);
  box-shadow: inset 2px 2px 3px 0 rgba(43, 73, 73, 0.2), inset -2px -2px 3px 0 rgba(43, 73, 73, 0.2);
  overflow: scroll; }

.building_section {
  max-height: 440px;
  margin: 10% 0 18.25% 0;
  animation: fadeIn 3s forwards;
  animation-delay: 1s;
  opacity: 0; }
  .building_section .building_title {
    width: 96%;
    max-width: 96%;
    margin: 0 0 .6rem 0;
    padding: 0 0;
    color: #077a77;
    font-size: .8rem;
    letter-spacing: 2px;
    text-align: left; }
    .building_section .building_title h2 {
      margin: 0 0 0 .4rem; }
  .building_section .building_chapters {
    flex-direction: column;
    justify-content: flex-start;
    width: 96%;
    max-width: 96%;
    margin: 0 0;
    padding: .4rem 0;
    color: #555555;
    background: white;
    border: 1px solid rgba(28, 90, 107, 0.6);
    border-right: none;
    box-shadow: -1px -1px 2px 0 rgba(119, 140, 166, 0.4), -1px 1px 2px 0 rgba(119, 140, 166, 0.4); }
    .building_section .building_chapters .chapter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      padding: .2rem 0 .4rem 0; }
      .building_section .building_chapters .chapter .chapter_title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        min-width: 92%;
        max-width: 92%;
        margin: 0 auto;
        padding: .2rem 0;
        color: #555555;
        font-size: 1.2rem; }
      .building_section .building_chapters .chapter .chapter_text {
        min-width: 92%;
        max-width: 92%;
        margin: 0 auto;
        padding: .8rem 0; }
        .building_section .building_chapters .chapter .chapter_text .part_text {
          padding: .2rem 0;
          color: #707070;
          font-size: .9rem;
          letter-spacing: 1px;
          line-height: 1.3rem;
          text-align: justify; }
      .building_section .building_chapters .chapter .chapter_button {
        min-width: 92%;
        max-width: 92%;
        margin: 0 auto;
        padding: .4rem 0; }
        .building_section .building_chapters .chapter .chapter_button button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          min-width: 100%;
          max-width: 100%;
          height: 2.4rem;
          background: #1c5a6b;
          background: linear-gradient(180deg, #1c5a6b 0%, #236e82 35%, #236e82 70%, #1c5a6b 100%);
          border-radius: 4px;
          border: 1px solid #14414d;
          border-radius: 5px;
          box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24); }
        .building_section .building_chapters .chapter .chapter_button h3 {
          margin: 0 .2rem 0 .6rem;
          color: white;
          font-family: 'Genos', sans-serif;
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: 1px; }
        .building_section .building_chapters .chapter .chapter_button img {
          width: 1.2rem;
          height: .8rem;
          margin: 0 .6rem 0 0;
          padding: 0 .2rem; }
        .building_section .building_chapters .chapter .chapter_button:hover button {
          background: #088581;
          background: linear-gradient(180deg, #088581 0%, #099995 35%, #099995 70%, #088581 100%);
          border: 1px solid #0a7675; }
        .building_section .building_chapters .chapter .chapter_button:hover h3 {
          color: black;
          font-weight: 500; }

.info_section {
  max-height: 440px;
  margin: 6% 0 0 0;
  padding: 1rem 0 2.2rem 0;
  animation: fadeIn 1.5s forwards; }
  .info_section .info_title {
    width: 96%;
    max-width: 96%;
    margin: 0 0 .6rem 0;
    padding: 0 0;
    color: #077a77;
    font-size: .8rem;
    letter-spacing: 2px;
    text-align: left; }
    .info_section .info_title h2 {
      margin: 0 0 0 .4rem; }
  .info_section .info_chapters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 96%;
    max-width: 96%;
    padding: .7rem 0;
    color: #555555;
    background: white;
    border: 1px solid rgba(28, 90, 107, 0.6);
    border-right: none;
    box-shadow: -1px -1px 2px 0 rgba(119, 140, 166, 0.4), -1px 1px 2px 0 rgba(119, 140, 166, 0.4); }
    .info_section .info_chapters .chapter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      padding: .6rem 0; }
      .info_section .info_chapters .chapter .chapter_title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        min-width: 82%;
        max-width: 82%;
        margin: 0 0 0 .5rem;
        padding: .3rem 0 .3rem .3rem;
        color: #474747;
        font-size: 1rem;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent; }
        .info_section .info_chapters .chapter .chapter_title h3 {
          margin: 0 0 0 .4rem; }
      .info_section .info_chapters .chapter .aboutMe_button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin: 0 1rem 0 0;
        padding: 0 0;
        background: #1c5a6b;
        background: linear-gradient(180deg, #1c5a6b 0%, #236e82 35%, #236e82 70%, #1c5a6b 100%);
        border: 1px solid #14414d;
        border-radius: 5px;
        box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24); }
        .info_section .info_chapters .chapter .aboutMe_button button {
          width: 2rem;
          height: 2rem;
          outline: none;
          background: transparent;
          border: none; }
          .info_section .info_chapters .chapter .aboutMe_button button img {
            width: 1.2rem;
            height: .6rem;
            padding: 0 0; }
      .info_section .info_chapters .chapter:hover .chapter_title {
        color: #077a77; }
      .info_section .info_chapters .chapter:hover .aboutMe_button {
        background: #088581;
        background: linear-gradient(180deg, #088581 0%, #099995 35%, #099995 70%, #088581 100%);
        border: 1px solid #0a7675; }

.proj_section {
  margin: 6% 0 6% 0;
  animation: fadeIn 1.5s forwards; }
  .proj_section .proj_title {
    width: 96%;
    max-width: 96%;
    margin: 0 0 .6rem 0;
    padding: 0 0;
    color: #077a77;
    font-size: .9rem;
    letter-spacing: 2px;
    text-align: left; }
    .proj_section .proj_title h2 {
      margin: 0 0 0 .4rem; }
  .proj_section .proj_chapters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 96%;
    max-width: 96%;
    padding: .7rem 0;
    color: #555555;
    background: white;
    border: 1px solid rgba(28, 90, 107, 0.6);
    border-right: none;
    box-shadow: -1px -1px 2px 0 rgba(119, 140, 166, 0.4), -1px 1px 2px 0 rgba(119, 140, 166, 0.4); }
  .proj_section .chapter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: .6rem 0; }
    .proj_section .chapter .chapter_title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      min-width: 82%;
      max-width: 82%;
      margin: 0 0 0 .5rem;
      padding: .3rem 0 .3rem .3rem;
      color: #474747;
      font-size: 1rem;
      border-bottom: 1px solid transparent;
      border-left: 1px solid transparent; }
      .proj_section .chapter .chapter_title h3 {
        margin: 0 0 0 .4rem; }
    .proj_section .chapter .chapter_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      margin: 0 1rem 0 0;
      padding: 0 0;
      background: #1c5a6b;
      background: linear-gradient(180deg, #1c5a6b 0%, #236e82 35%, #236e82 70%, #1c5a6b 100%);
      border: 1px solid #14414d;
      border-radius: 5px;
      box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24); }
      .proj_section .chapter .chapter_button button {
        width: 2rem;
        height: 2rem;
        outline: none;
        background: transparent;
        border: none; }
        .proj_section .chapter .chapter_button button img {
          width: 1.2rem;
          height: .6rem;
          padding: 0 0; }
    .proj_section .chapter:hover .chapter_title {
      color: #077a77; }
    .proj_section .chapter:hover .chapter_button {
      background: #088581;
      background: linear-gradient(180deg, #088581 0%, #099995 35%, #099995 70%, #088581 100%);
      border: 1px solid #0a7675; }

.pop_up {
  height: 440px;
  max-height: 440px;
  margin: 5% 0 5.5% 0;
  padding: 1rem 0 2.2rem 0;
  animation: fadeIn 1.5s forwards; }
  .pop_up .popup_window {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    /*
    .boxHidden {
        display: none;
    }
    .boxVisible {
        display: flex;
    }
    */ }
    .pop_up .popup_window .title_box {
      display: flex;
      justify-content: space-between;
      width: 96%;
      max-width: 96%;
      margin: 0 0 0 0;
      padding: 0 0; }
    .pop_up .popup_window .chapters_title {
      margin: 0 0 0 .4rem;
      color: #077a77;
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: 1px; }
    .pop_up .popup_window .close_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 2rem;
      width: 2rem;
      margin: 0 .8rem .8rem 0;
      padding: 0 0;
      background: #1c5a6b;
      background: linear-gradient(180deg, #1c5a6b 0%, #236e82 35%, #236e82 70%, #1c5a6b 100%);
      border: 1px solid #14414d;
      border-radius: 50%;
      box-shadow: 0 0 2px 0 rgba(119, 140, 166, 0.24); }
      .pop_up .popup_window .close_button button {
        width: 100%;
        height: 2rem;
        outline: none;
        background: transparent;
        border: none; }
        .pop_up .popup_window .close_button button .close_x {
          width: 1.2rem;
          height: 1.2rem;
          margin: .14rem 0 0 .1rem;
          opacity: .8; }
    .pop_up .popup_window .chapters_content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 96%;
      max-width: 96%;
      margin: 0 0;
      padding: .8rem 0 .4rem 0;
      color: #555555;
      background: white;
      border: 1px solid rgba(28, 90, 107, 0.6);
      border-right: none;
      box-shadow: -1px -1px 2px 0 rgba(119, 140, 166, 0.4), -1px 1px 2px 0 rgba(119, 140, 166, 0.4); }
    .pop_up .popup_window .aboutme_box,
    .pop_up .popup_window .resume_box,
    .pop_up .popup_window .skills_box,
    .pop_up .popup_window .projects_box {
      width: 94%;
      max-width: 94%;
      border-right: 1px solid rgba(85, 85, 85, 0.2);
      border-bottom: 1px solid rgba(85, 85, 85, 0.2);
      box-shadow: 2px 2px 2px 0 rgba(119, 140, 166, 0.24); }
    .pop_up .popup_window .aboutme_box {
      margin: .6rem auto;
      padding: 0 0 .4rem 0; }
      .pop_up .popup_window .aboutme_box .about_text {
        width: 98%;
        margin: 0 0 .6rem 0;
        font-family: 'Yaldevi', sans-serif;
        color: #707070;
        font-size: .9rem;
        text-align: justify;
        line-height: 1.4rem; }
    .pop_up .popup_window .resume_box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      margin: .8rem auto;
      padding: .2rem 0 .4rem 0; }
      .pop_up .popup_window .resume_box .resume_title_box {
        width: 77.5%;
        padding: .2rem 0 .4rem 0; }
        .pop_up .popup_window .resume_box .resume_title_box .resume_title {
          width: 100%;
          margin-top: .3rem;
          color: #555555;
          font-size: 1.4rem;
          letter-spacing: 1px; }
      .pop_up .popup_window .resume_box .resume_button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 20%;
        height: 2rem;
        margin: .3rem 0 0 0;
        padding: 0 0;
        background: #1c5a6b;
        background: linear-gradient(180deg, #1c5a6b 0%, #236e82 35%, #236e82 70%, #1c5a6b 100%);
        border: 1px solid #14414d;
        border-radius: 5px;
        box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24); }
        .pop_up .popup_window .resume_box .resume_button button {
          width: 100%;
          height: 2rem;
          outline: none;
          background: transparent;
          border: none; }
          .pop_up .popup_window .resume_box .resume_button button .myCv_link {
            width: 100%;
            height: 2rem;
            color: white;
            font-size: .9rem;
            text-align: center;
            text-decoration: none; }
    .pop_up .popup_window .skills_box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      margin: .8rem auto;
      padding: .2rem 0 .4rem 0; }
      .pop_up .popup_window .skills_box .skills_title_box {
        width: 60%;
        padding: .2rem 0 .4rem 0; }
        .pop_up .popup_window .skills_box .skills_title_box .skills_title {
          margin-top: .3rem;
          color: #555555;
          font-size: 1.4rem;
          letter-spacing: 1px; }
      .pop_up .popup_window .skills_box .frontend_title {
        width: 40%; }
      .pop_up .popup_window .skills_box .js_title {
        width: 20%; }
      .pop_up .popup_window .skills_box .skills_logos_box {
        flex-direction: row;
        justify-content: flex-end;
        width: 38%;
        height: 2rem;
        margin: .2rem 0 0 0;
        padding: 0 0; }
        .pop_up .popup_window .skills_box .skills_logos_box .icon_row {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;
          padding: .4rem 0; }
          .pop_up .popup_window .skills_box .skills_logos_box .icon_row .skill_icon {
            margin-left: .5rem;
            width: 28px;
            height: 28px;
            border: 1px solid rgba(10, 62, 77, 0.8);
            border-radius: 2px;
            overflow: hidden; }
          .pop_up .popup_window .skills_box .skills_logos_box .icon_row .fcp_icon {
            background: rgba(10, 62, 77, 0.8); }
          .pop_up .popup_window .skills_box .skills_logos_box .icon_row .redux_icon,
          .pop_up .popup_window .skills_box .skills_logos_box .icon_row .jquery_icon,
          .pop_up .popup_window .skills_box .skills_logos_box .icon_row .nodejs_icon {
            background: rgba(255, 255, 255, 0.8); }
          .pop_up .popup_window .skills_box .skills_logos_box .icon_row .cc_icon,
          .pop_up .popup_window .skills_box .skills_logos_box .icon_row .prem_icon,
          .pop_up .popup_window .skills_box .skills_logos_box .icon_row .sql_icon {
            width: 30px;
            height: 30px;
            border: none;
            background: rgba(255, 255, 255, 0.8); }
      .pop_up .popup_window .skills_box .frontend_logos {
        width: 58%; }
      .pop_up .popup_window .skills_box .js_logos {
        width: 78%; }
    .pop_up .popup_window .bottom_box {
      margin-bottom: .8rem; }
    .pop_up .popup_window .projects_box {
      margin: .6rem auto 1.4rem auto;
      padding: .4rem 0; }
      .pop_up .popup_window .projects_box:hover {
        border-right: 1px solid rgba(7, 122, 118, 0.6);
        border-bottom: 1px solid rgba(7, 122, 118, 0.6);
        box-shadow: 2px 2px 2px 0 rgba(7, 122, 118, 0.24); }
        .pop_up .popup_window .projects_box:hover .projects_title {
          color: #077a77; }
        .pop_up .popup_window .projects_box:hover .projects_button {
          background: #088581;
          background: linear-gradient(180deg, #088581 0%, #099995 35%, #099995 70%, #088581 100%);
          border: 1px solid #0a7675; }
    .pop_up .popup_window .bottom_box {
      margin: .6rem auto 1rem auto; }
    .pop_up .popup_window .projects_title_box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      max-width: 100%;
      height: 3.2rem;
      margin: 0 0;
      padding: 0 0; }
      .pop_up .popup_window .projects_title_box .title_col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        width: 85%;
        max-width: 85%;
        margin: 0 0;
        padding: 0 0 1rem .4rem; }
      .pop_up .popup_window .projects_title_box .projects_title {
        color: #474747;
        font-size: 1.3rem;
        letter-spacing: 1px; }
        .pop_up .popup_window .projects_title_box .projects_title h4 {
          margin: 0 0; }
      .pop_up .popup_window .projects_title_box .js_title {
        margin-top: 1.55rem; }
      .pop_up .popup_window .projects_title_box .projects_button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin: .9rem 0 0 0;
        padding: 0 0;
        background: #1c5a6b;
        background: linear-gradient(180deg, #1c5a6b 0%, #236e82 35%, #236e82 70%, #1c5a6b 100%);
        border: 1px solid #14414d;
        border-radius: 5px;
        box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24); }
        .pop_up .popup_window .projects_title_box .projects_button button {
          width: 2rem;
          height: 2rem;
          outline: none;
          background: transparent;
          border: none; }
          .pop_up .popup_window .projects_title_box .projects_button button img {
            width: 1.2rem;
            height: .6rem;
            padding: 0 0; }
    .pop_up .popup_window .tv_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 96%;
      max-width: 96%;
      margin: 0 0;
      padding: .4rem 0 .4rem 0;
      color: #555555;
      background: white;
      border: 1px solid rgba(28, 90, 107, 0.6);
      border-right: none;
      box-shadow: -1px -1px 2px 0 rgba(119, 140, 166, 0.4), -1px 1px 2px 0 rgba(119, 140, 166, 0.4); }
    .pop_up .popup_window .tv_box {
      width: 96%;
      max-width: 96%;
      margin: 0 auto;
      padding: 0 0;
      overflow: hidden;
      /* This css is only applied when fullscreen is active. */ }
      .pop_up .popup_window .tv_box .player {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 0 0;
        font-size: 0;
        border-top: 1px solid rgba(10, 62, 77, 0.4);
        border-right: 1px solid rgba(10, 62, 77, 0.4);
        border-left: 1px solid rgba(10, 62, 77, 0.4);
        overflow: hidden; }
      .pop_up .popup_window .tv_box .player:fullscreen {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto; }
      .pop_up .popup_window .tv_box .player:-webkit-full-screen {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto; }
      .pop_up .popup_window .tv_box .video_player {
        width: 100%;
        max-width: 700px;
        height: 100%;
        margin: 0 0;
        padding: 0 0;
        overflow: hidden; }
      .pop_up .popup_window .tv_box .progress {
        flex: 10;
        position: relative;
        display: flex;
        flex-basis: 99.9%;
        max-width: 700px;
        height: 5px;
        top: 0;
        left: 0;
        background: rgba(192, 118, 0, 0.4);
        /*
        border-top: 1px solid rgba($darkgreen, .6);
        border-right: none;
        border-bottom: 1px solid rgba($darkgreen, .6);
        border-left: none;
        */
        border: none;
        cursor: ew-resize;
        overflow: hidden; }
      .pop_up .popup_window .tv_box .progress_filled {
        width: 0.2%;
        flex: 0;
        flex-basis: 0;
        margin: -1px 0;
        background: rgba(10, 62, 77, 0.66);
        border-right: 2px solid darkred;
        border-left: none; }
      .pop_up .popup_window .tv_box .player_controls {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 700px;
        margin: 0 0;
        padding: 0 0;
        background: rgba(0, 0, 0, 0.6);
        border-top: 1px solid rgba(10, 62, 77, 0.4);
        border-bottom: 1px solid rgba(10, 62, 77, 0.4); }
      .pop_up .popup_window .tv_box .slider_box {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 0 0; }
      .pop_up .popup_window .tv_box .range_labels {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        max-width: 50%;
        padding-top: 2px;
        background: rgba(55, 55, 55, 0.2);
        border-right: 1px solid rgba(10, 62, 77, 0.4); }
      .pop_up .popup_window .tv_box .range_labels:hover {
        background: rgba(142, 151, 0, 0.2); }
      .pop_up .popup_window .tv_box .rangeIcons {
        width: 10px;
        height: 10px;
        margin-right: 2px;
        padding: 4px 2px 4px 4px;
        background: transparent;
        opacity: .6; }
      .pop_up .popup_window .tv_box .player_slider {
        width: 78%;
        height: 20px;
        margin: 0 0;
        padding: 0 0;
        background: #0a3e4d; }
      .pop_up .popup_window .tv_box input[type=range] {
        -webkit-appearance: none;
        appearance: none;
        width: 94%;
        margin: 0 3px 0 -2px;
        background: transparent; }
      .pop_up .popup_window .tv_box input[type=range]:focus {
        outline: none; }
      .pop_up .popup_window .tv_box input[type=range]::-webkit-scrollbar {
        background: #0a3e4d; }
      .pop_up .popup_window .tv_box input[type=range]::-webkit-slider-runnable-track {
        width: 94%;
        height: 4px;
        cursor: pointer;
        background: rgba(10, 62, 77, 0.4);
        border: 1px solid rgba(10, 62, 77, 0.4);
        border-radius: 28px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
      .pop_up .popup_window .tv_box input[type=range]::-webkit-slider-thumb {
        height: 8px;
        width: 8px;
        border-radius: 50px;
        background: #0a3e4d;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -4px;
        border: 1px solid rgba(10, 62, 77, 0.4);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
      .pop_up .popup_window .tv_box input[type=range]:focus::-webkit-slider-runnable-track {
        background: rgba(186, 218, 85, 0.6); }
      .pop_up .popup_window .tv_box input[type=range]::-moz-range-track {
        width: 94%;
        height: 8px;
        cursor: pointer;
        border: 1px solid rgba(10, 62, 77, 0.4);
        border-radius: 28px;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6); }
      .pop_up .popup_window .tv_box input[type=range]::-moz-range-thumb {
        height: 8px;
        width: 8px;
        border-radius: 50px;
        background: #0a3e4d;
        border: 1px solid rgba(10, 62, 77, 0.4);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        cursor: pointer; }
      .pop_up .popup_window .tv_box .button_box {
        display: flex;
        justify-content: center;
        width: 50%;
        max-width: 50%;
        margin: 0 0; }
      .pop_up .popup_window .tv_box .player_button {
        width: 20%;
        max-width: 20%;
        height: 22px;
        margin: 0 0;
        padding: 1px 0 3px 0;
        outline: 0;
        color: rgba(255, 255, 255, 0.6);
        font-size: 8px;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        background: rgba(55, 55, 55, 0.2);
        border: none;
        border-right: 1px solid rgba(10, 62, 77, 0.4); }
      .pop_up .popup_window .tv_box .toggle {
        width: 40%;
        max-width: 40%;
        padding-top: 2px;
        font-size: 10px; }
      .pop_up .popup_window .tv_box .player_button::-moz-focus-inner {
        border: none; }
      .pop_up .popup_window .tv_box .player_button:hover {
        background: rgba(142, 151, 0, 0.2); }
      .pop_up .popup_window .tv_box .player_button:focus {
        background: rgba(209, 148, 0, 0.2); }
      .pop_up .popup_window .tv_box .toggle:active {
        background: #143a04; }
      .pop_up .popup_window .tv_box .fullscreen {
        display: flex;
        justify-content: center;
        padding-top: 6px; }
      .pop_up .popup_window .tv_box .fullscreenIcon {
        height: 12px;
        width: 12px;
        margin-top: -1px;
        opacity: .6; }
    .pop_up .popup_window .tv_text_box {
      width: 96%;
      max-width: 700px;
      margin: .8rem auto;
      padding: .2rem 0 .6rem 0;
      border-right: 1px solid rgba(10, 62, 77, 0.4);
      border-bottom: 1px solid rgba(10, 62, 77, 0.2);
      box-shadow: 2px 2px 2px 0 rgba(119, 140, 166, 0.24); }
      .pop_up .popup_window .tv_text_box .part_text {
        width: 96%;
        max-width: 96%;
        margin: 0 0;
        color: #555555;
        font-size: .8rem;
        line-height: 1.2rem;
        text-align: justify; }
    .pop_up .popup_window .vCard_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 96%;
      max-width: 96%;
      margin: 0 0;
      padding: .4rem 0 .4rem 0;
      color: #555555;
      background: white;
      border: 1px solid rgba(28, 90, 107, 0.6);
      border-right: none;
      box-shadow: -1px -1px 2px 0 rgba(119, 140, 166, 0.4), -1px 1px 2px 0 rgba(119, 140, 166, 0.4); }
    .pop_up .popup_window .vcard_box {
      width: 96%;
      max-width: 96%;
      margin: 0 0 0 2%;
      padding: 0 0; }
    .pop_up .popup_window .vCard {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: flex-end;
      /*
      min-width: 17.8rem;
      max-width: 17.8rem;
      min-height: 11rem;
      max-height: 11rem;
      */
      width: 99.5%;
      max-width: 400px;
      margin: 0 0;
      padding: 0 0;
      background: url("../assets/vcard/vcard_bg_01.jpg") no-repeat;
      background-size: cover;
      border: 1px solid #0a3e4d; }
      .pop_up .popup_window .vCard header,
      .pop_up .popup_window .vCard footer {
        width: 100%;
        max-height: 1.6rem;
        margin: .6rem 0;
        padding: .3rem 0 .15rem 0;
        background: rgba(0, 0, 0, 0.8);
        border-top: 1px solid #077a77;
        border-bottom: 1px solid #077a77; }
        .pop_up .popup_window .vCard header h4,
        .pop_up .popup_window .vCard footer h4 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          width: 90%;
          margin: 0 auto;
          padding: 0 0; }
          .pop_up .popup_window .vCard header h4 span,
          .pop_up .popup_window .vCard footer h4 span {
            display: block;
            margin: -.2rem 0 0 0;
            color: #077a77;
            font-family: 'Port Lligat Sans', cursive;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: .1rem;
            word-spacing: .06rem;
            text-shadow: 1px 1px 2px black,  -1px -1px 2px black; }
          .pop_up .popup_window .vCard header h4 .text,
          .pop_up .popup_window .vCard footer h4 .text {
            margin: -.1rem 0 0 0;
            color: #077a77;
            font-size: .8rem;
            text-shadow: 1px 1px 3px black,  -1px -1px 3px black;
            transform: scaleY(1.2); }
      .pop_up .popup_window .vCard header {
        margin-bottom: .7rem; }
      .pop_up .popup_window .vCard footer {
        margin: .7rem 0 .5rem 0; }
      .pop_up .popup_window .vCard .address_box {
        width: 100%; }
      .pop_up .popup_window .vCard address {
        width: 59%;
        height: 5.75rem;
        margin: 0 1rem 0 31%;
        padding: .1rem .4rem;
        color: white;
        font-family: 'Genos', sans-serif;
        font-style: normal;
        font-weight: 200;
        letter-spacing: 2px;
        text-align: right;
        background: rgba(0, 0, 0, 0.9);
        border: 1px solid #116177; }
        .pop_up .popup_window .vCard address #fn, .pop_up .popup_window .vCard address #email,
        .pop_up .popup_window .vCard address .org, .pop_up .popup_window .vCard address .street-address, .pop_up .popup_window .vCard address .locality, .pop_up .popup_window .vCard address .region, .pop_up .popup_window .vCard address .postal-code, .pop_up .popup_window .vCard address .country-name {
          max-height: 1rem;
          margin: 0 0;
          padding: 0 0; }
        .pop_up .popup_window .vCard address #fn {
          padding: 0 0 .1rem .1rem;
          font-size: 1rem;
          border-bottom: 1px solid rgba(17, 97, 119, 0.68); }
        .pop_up .popup_window .vCard address #fn,
        .pop_up .popup_window .vCard address .org {
          color: white; }
        .pop_up .popup_window .vCard address .org {
          margin: .15rem 0 0 0;
          font-size: .7rem; }
        .pop_up .popup_window .vCard address #email {
          min-width: 180px;
          color: #0182b0;
          font-size: .7rem;
          font-weight: 500;
          letter-spacing: 2px;
          text-decoration: none; }
          .pop_up .popup_window .vCard address #email:hover {
            color: #5f9f27; }
        .pop_up .popup_window .vCard address .adr {
          margin-top: .1rem;
          font-size: .6rem; }
        .pop_up .popup_window .vCard address .locality {
          margin-left: -.5rem; }
        .pop_up .popup_window .vCard address .postal-code, .pop_up .popup_window .vCard address .country-name {
          margin-left: -2px; }
        .pop_up .popup_window .vCard address .locality .region .postal-code .country-name {
          letter-spacing: 0px;
          margin-top: -.3rem; }
    .pop_up .popup_window .vcard_text_box {
      width: 96%;
      max-width: 96%;
      margin: .8rem auto .4rem auto;
      padding: .3rem 0;
      border-right: 1px solid rgba(10, 62, 77, 0.4);
      border-bottom: 1px solid rgba(10, 62, 77, 0.2);
      box-shadow: 2px 2px 2px 0 rgba(119, 140, 166, 0.24); }
      .pop_up .popup_window .vcard_text_box .part_text {
        width: 96%;
        max-width: 96%;
        margin: 0 1rem .3rem 0;
        font-size: .8rem;
        font-weight: 400;
        line-height: 1.22rem;
        text-align: justify; }

.pop_over {
  height: 440px;
  max-height: 440px;
  margin: 5% 0 5.5% 0;
  padding: 1rem 0 2.2rem 0;
  animation: fadeIn 1.5s forwards; }
  .pop_over .popover_window {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 0 0; }
    .pop_over .popover_window .pojects_title_box {
      display: flex;
      justify-content: space-between;
      width: 96%;
      max-width: 96%;
      margin: 0 0 0 0;
      padding: 0 0; }
    .pop_over .popover_window .projects_title {
      margin: 0 0 0 .4rem;
      color: #077a77;
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: 1px; }
    .pop_over .popover_window .close_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 2rem;
      width: 2rem;
      margin: 0 .8rem .8rem 0;
      padding: 0 0;
      background: #1c5a6b;
      background: linear-gradient(180deg, #1c5a6b 0%, #236e82 35%, #236e82 70%, #1c5a6b 100%);
      border: 1px solid #14414d;
      border-radius: 50%;
      box-shadow: 0 0 2px 0 rgba(119, 140, 166, 0.24); }
      .pop_over .popover_window .close_button button {
        width: 100%;
        height: 2rem;
        outline: none;
        background: transparent;
        border: none; }
        .pop_over .popover_window .close_button button .close_x {
          width: 1.2rem;
          height: 1.2rem;
          margin: .14rem 0 0 .1rem;
          opacity: .8; }
    .pop_over .popover_window .projects_content {
      min-height: 24rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 96%;
      max-width: 96%;
      margin: 0 0;
      padding: .8rem 0 1.2rem 0;
      color: #555555;
      background: white;
      border: 1px solid rgba(28, 90, 107, 0.6);
      border-right: none;
      box-shadow: -1px -1px 2px 0 rgba(119, 140, 166, 0.4), -1px 1px 2px 0 rgba(119, 140, 166, 0.4); }
    .pop_over .popover_window .proj_box {
      width: 94%;
      max-width: 94%;
      margin: 1rem auto 1.6rem auto;
      padding: 0 0 1.6rem 0;
      border-right: 1px solid rgba(85, 85, 85, 0.28);
      border-bottom: 1px solid rgba(85, 85, 85, 0.28);
      box-shadow: 2px 2px 2px 0 rgba(119, 140, 166, 0.24); }
    .pop_over .popover_window .bottom_box {
      margin: 0 auto .8rem auto; }
    .pop_over .popover_window .proj_title_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 94%;
      max-width: 94%;
      padding: 0 0; }
    .pop_over .popover_window .proj_title {
      margin: .1rem 0 .2rem 0;
      color: #555555;
      font-size: 1.4rem;
      letter-spacing: 1px; }
    .pop_over .popover_window .proj_content {
      width: 96%;
      max-width: 96%;
      margin: .4rem 0 0 0;
      padding: 0 0;
      border-top: 1px solid rgba(28, 90, 107, 0.48);
      border-left: 1px solid rgba(28, 90, 107, 0.48);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: -1px 1px 1px 0 rgba(7, 122, 118, 0.24), -1px -1px 1px 0 rgba(7, 122, 118, 0.24); }
    .pop_over .popover_window .proj_subtitle {
      margin: 0 0 .2rem 0;
      padding: .6rem 0 .5rem .6rem;
      color: #077a77;
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1rem; }
    .pop_over .popover_window .proj_text {
      width: 96%;
      padding: .4rem 0 .2rem .6rem;
      color: #555555;
      font-family: 'Yaldevi', sans-serif;
      font-size: .8rem;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1.1rem; }
    .pop_over .popover_window .link_box {
      width: 100%;
      max-width: 100%;
      height: 1.8rem;
      max-height: 1.8rem;
      margin: .8rem 0 0 0;
      border: 1px solid rgba(28, 90, 107, 0.48);
      border-top-color: transparent;
      border-left: none;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      box-shadow: 1px 1px 1px 0 rgba(7, 122, 118, 0.24); }
      .pop_over .popover_window .link_box .proj_link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        height: 1.8rem;
        margin: 0 0;
        padding: 0 0;
        text-decoration: none; }
        .pop_over .popover_window .link_box .proj_link .link_text {
          padding: .3rem .5rem 0 .6rem;
          color: #0182b0;
          font-family: 'Yaldevi', sans-serif;
          font-size: .8rem;
          font-weight: 400;
          letter-spacing: 1px;
          text-align: left; }
        .pop_over .popover_window .link_box .proj_link .link_arrow {
          width: 1rem;
          height: 1.6rem;
          padding: .7rem 0 0 .5rem;
          background: url(../assets/icons/arrow_link.png) no-repeat;
          background-size: 1rem .6rem;
          background-position-y: .65rem; }
      .pop_over .popover_window .link_box:hover {
        background: #088581;
        background: linear-gradient(180deg, #088581 0%, #099995 35%, #099995 70%, #088581 100%); }
        .pop_over .popover_window .link_box:hover .link_text {
          color: white; }
        .pop_over .popover_window .link_box:hover .link_arrow {
          background: url(../assets/icons/arrow_right_white.png) no-repeat;
          background-size: 1rem .6rem;
          background-position-y: .65rem; }
    .pop_over .popover_window .replace_box {
      width: 100%;
      max-width: 100%;
      height: 1.8rem;
      max-height: 1.8rem;
      margin: .8rem 0 0 0;
      border-top-color: transparent;
      border-left: none;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      box-shadow: 1px 1px 1px 0 rgba(7, 122, 118, 0.24); }
      .pop_over .popover_window .replace_box .replace_text {
        width: 100%;
        max-width: 100%;
        height: 1.7rem;
        margin: 0 0;
        padding: .3rem .5rem 0 .6rem;
        color: #0182b0;
        font-family: 'Yaldevi', sans-serif;
        font-size: .8rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: left; }
      .pop_over .popover_window .replace_box:hover {
        background: #a44d05;
        background: linear-gradient(180deg, #a44d05 0%, #b86016 35%, #b86016 70%, #a44d05 100%); }
        .pop_over .popover_window .replace_box:hover .replace_text {
          color: white; }
    .pop_over .popover_window .spec_link {
      margin: .6rem 0 2rem 0; }

.box_hidden {
  display: none; }

.box_visible {
  display: flex;
  transition: display 0.5s ease-out; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes titleSlideIn {
  0% {
    transform: translateY(-180px); }
  10% {
    transform: translateY(-180px); }
  100% {
    transform: translateY(0px); } }
@media (min-width: 375px) {
  .mainpage .info_section .info_chapters .chapter .chapter_title {
    font-size: 1.1rem; }
  .mainpage .proj_section .proj_chapters .chapter .chapter_title {
    font-size: 1.1rem; }
  .mainpage .pop_over,
  .mainpage .pop_over {
    height: 440px;
    max-height: 440px; } }
@media (min-width: 442px) {
  .page_header .header_content .header_flex .page_title {
    width: 67%;
    margin: 0 0 0 1.6rem;
    padding: .3rem 0; }
    .page_header .header_content .header_flex .page_title .name {
      font-size: 1.6rem; }
    .page_header .header_content .header_flex .page_title .cv {
      margin: -.2rem 0 0 0;
      font-size: 1.4rem; }
  .page_header .header_content .header_flex .page_photo .myPhoto {
    height: 7rem; }

  .mainpage .info_section .info_chapters .chapter .chapter_title {
    font-size: 1.2rem; }
  .mainpage .proj_section .proj_chapters .chapter .chapter_title {
    font-size: 1.2rem; }

  .pop_up .popup_window .projects_box .projects_title_box .title_col {
    width: 87%;
    max-width: 87%; }
  .pop_up .popup_window .vcard_box .vCard header,
  .pop_up .popup_window .vcard_box .vCard footer {
    padding: .4rem 0 .35rem 0; }
    .pop_up .popup_window .vcard_box .vCard header span,
    .pop_up .popup_window .vcard_box .vCard footer span {
      margin: 0 0; }
    .pop_up .popup_window .vcard_box .vCard header h4 .text,
    .pop_up .popup_window .vcard_box .vCard footer h4 .text {
      font-size: 1rem; }
  .pop_up .popup_window .vcard_box .vCard .address_box address {
    height: 7rem;
    margin: .7rem 1rem .7rem 31%;
    padding: .3rem .4rem; }
    .pop_up .popup_window .vcard_box .vCard .address_box address #fn, .pop_up .popup_window .vcard_box .vCard .address_box address #email, .pop_up .popup_window .vcard_box .vCard .address_box address .org, .pop_up .popup_window .vcard_box .vCard .address_box address .street-address,
    .pop_up .popup_window .vcard_box .vCard .address_box address .locality, .pop_up .popup_window .vcard_box .vCard .address_box address .region, .pop_up .popup_window .vcard_box .vCard .address_box address .postal-code, .pop_up .popup_window .vcard_box .vCard .address_box address .country-name {
      padding: .2rem 0; }
    .pop_up .popup_window .vcard_box .vCard .address_box address .adr {
      font-size: .8rem; } }
@media (min-width: 684px) {
  .page_header .header_content {
    height: 6.6rem; }
    .page_header .header_content .header_flex {
      height: 5rem; }
      .page_header .header_content .header_flex .page_title {
        width: 78%;
        margin: 0 0 0 0;
        padding: .3rem 0; }
        .page_header .header_content .header_flex .page_title .name {
          font-size: 2rem; }
        .page_header .header_content .header_flex .page_title .cv {
          font-size: 1.8rem; }
      .page_header .header_content .header_flex .page_photo .myPhoto {
        height: 7.3rem; }

  .content .skills_box .text_box {
    display: inline-flex; }

  .pop_up .popup_window .resume_box .resume_title_box {
    width: 77.75%; }
  .pop_up .popup_window .projects_box .projects_title_box .title_col {
    width: 91%;
    max-width: 91%; }
  .pop_up .popup_window .tv_content .tv_box {
    padding: .4rem 0;
    /*
    .toggle {
        width: 60px;
        max-width: 60px;
    }
    */ }
    .pop_up .popup_window .tv_content .tv_box .slider_box {
      width: 50%; }
  .pop_up .popup_window .vCard_content {
    flex-direction: row;
    justify-content: flex-start; }
    .pop_up .popup_window .vCard_content .vcard_box {
      width: 65%;
      max-width: 65%; }
    .pop_up .popup_window .vCard_content .vcard_text_box {
      width: 28%;
      max-width: 28%;
      margin: 0 auto .4rem auto;
      padding: 0 0 .1rem 0; }
      .pop_up .popup_window .vCard_content .vcard_text_box .part_text {
        width: 94%;
        max-width: 94%; } }
@media (min-width: 768px) {
  .page_header .header_content {
    height: 7rem; }
    .page_header .header_content .header_flex {
      height: 5.4rem; }
      .page_header .header_content .header_flex .page_title {
        width: 78%;
        margin: 0 0 0 0;
        padding: .3rem 0; }
        .page_header .header_content .header_flex .page_title .name {
          margin: .2rem 0 0 0;
          font-size: 2rem; }
        .page_header .header_content .header_flex .page_title .cv {
          font-size: 1.8rem; }
      .page_header .header_content .header_flex .page_photo .myPhoto {
        height: 7.6rem;
        margin: -1.35rem 0 0 0; }

  .pop_up .popup_window .projects_box .projects_title_box .title_col {
    width: 92%;
    max-width: 92%; }
  .pop_up .popup_window .resume_box .resume_title_box {
    width: 77.85%; }
  .pop_up .popup_window .skills_box .skills_title_box,
  .pop_up .popup_window .skills_box .frontend_title,
  .pop_up .popup_window .skills_box .js_title {
    width: 55%; }
  .pop_up .popup_window .skills_box .skills_logos_box {
    width: 43%; }
    .pop_up .popup_window .skills_box .skills_logos_box .icon_row {
      padding: .2rem 0; }
      .pop_up .popup_window .skills_box .skills_logos_box .icon_row .skill_icon {
        margin-left: .5rem;
        width: 34px;
        height: 34px; }
      .pop_up .popup_window .skills_box .skills_logos_box .icon_row .cc_icon,
      .pop_up .popup_window .skills_box .skills_logos_box .icon_row .prem_icon,
      .pop_up .popup_window .skills_box .skills_logos_box .icon_row .sql_icon {
        width: 35px;
        height: 35px; }
      .pop_up .popup_window .skills_box .skills_logos_box .icon_row .fcp_icon {
        width: 33px;
        height: 33px; }
  .pop_up .popup_window .skills_box .frontend_logos,
  .pop_up .popup_window .skills_box .js_logos {
    width: 43%; }
  .pop_up .popup_window .tv_content .tv_box {
    padding: .6rem 0 .4rem 0; }
  .pop_up .popup_window .vCard_content {
    padding: .8rem 0; }
    .pop_up .popup_window .vCard_content .vcard_box {
      width: 58%;
      max-width: 58%; }
    .pop_up .popup_window .vCard_content .vcard_text_box {
      width: 35%;
      max-width: 35%; } }
@media (min-width: 810px) {
  .page_header .header_content {
    height: 7.5rem; }
    .page_header .header_content .header_flex .page_title .cv {
      font-size: 1.9rem; }
    .page_header .header_content .header_flex .page_photo .myPhoto {
      height: 7.6rem;
      margin: -1.15rem 0 0 0; } }
@media (min-width: 984px) {
  .page_header .header_content {
    height: 7.7rem; }
    .page_header .header_content .header_flex {
      height: 5.6rem; }
      .page_header .header_content .header_flex .page_title {
        width: 78%;
        margin: 0 0 0 0;
        padding: .3rem 0; }
        .page_header .header_content .header_flex .page_title .name {
          margin: .2rem 0 0 0;
          font-size: 2.2rem;
          letter-spacing: 4px; }
        .page_header .header_content .header_flex .page_title .cv {
          font-size: 2rem;
          letter-spacing: 4px; }
      .page_header .header_content .header_flex .page_photo .myPhoto {
        height: 7.8rem;
        margin: -1.17rem 0 0 0; }

  .content .school_box .text_box {
    display: inline-block; }

  .pop_up .popup_window .projects_box .projects_title_box .title_col {
    width: 93.5%;
    max-width: 93.5%; }
  .pop_up .popup_window .vCard_content {
    padding: 1rem 0; }
    .pop_up .popup_window .vCard_content .vcard_box {
      width: 46%;
      max-width: 46%; }
    .pop_up .popup_window .vCard_content .vcard_text_box {
      width: 48%;
      max-width: 48%; }
      .pop_up .popup_window .vCard_content .vcard_text_box .part_text {
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.5rem; } }
@media (min-width: 1024px) {
  .page_header .header_content {
    height: 8rem; }
    .page_header .header_content .header_flex {
      height: 5.7rem; }
      .page_header .header_content .header_flex .page_title {
        width: 80%;
        margin: 0 0 0 0;
        padding: .3rem 0; }
        .page_header .header_content .header_flex .page_title .name {
          margin: .2rem 0 0 0;
          font-size: 2.2rem;
          letter-spacing: 4px; }
        .page_header .header_content .header_flex .page_title .cv {
          font-size: 2rem;
          letter-spacing: 4px; }
      .page_header .header_content .header_flex .page_photo .myPhoto {
        height: 8rem;
        margin: -1.24rem 0 0 0; }

  .pop_up .popup_window .resume_box .resume_title_box {
    width: 78.5%; }
  .pop_up .popup_window .resume_box .resume_button {
    width: 19.25%; }
  .pop_up .popup_window .tv_content {
    flex-direction: row;
    justify-content: space-between; }
    .pop_up .popup_window .tv_content .tv_box {
      width: 700px;
      max-width: 700px;
      margin: 0 0 0 .8rem; }
    .pop_up .popup_window .tv_content .tv_text_box {
      width: 19%;
      max-width: 19%;
      margin: .6rem .8rem .6rem 0; }
      .pop_up .popup_window .tv_content .tv_text_box .part_text {
        width: 92%;
        max-width: 92%;
        margin: 0 0 .6rem 0; }
  .pop_up .popup_window .vCard_content {
    padding: 1.6rem 0; }
    .pop_up .popup_window .vCard_content .vcard_box {
      width: 44%;
      max-width: 44%; }
    .pop_up .popup_window .vCard_content .vcard_text_box {
      width: 50%;
      max-width: 50%; } }
@media (min-width: 1280px) {
  .navbar {
    background: white; }
    .navbar .selectdrop {
      border-right: 1px solid rgba(140, 163, 163, 0.4);
      border-left: 1px solid rgba(140, 163, 163, 0.4); }

  .page_header .header_content {
    height: 8.6rem; }
    .page_header .header_content .header_flex {
      height: 6.2rem; }
      .page_header .header_content .header_flex .page_title {
        width: 80%;
        margin: 0 0 0 0;
        padding: .3rem 0; }
        .page_header .header_content .header_flex .page_title .name {
          margin: .2rem 0 0 0;
          font-size: 2.2rem;
          letter-spacing: 4px; }
        .page_header .header_content .header_flex .page_title .cv {
          font-size: 2rem;
          letter-spacing: 4px; }
      .page_header .header_content .header_flex .page_photo .myPhoto {
        height: 8.6rem;
        margin: -1.28rem 0 0 0; }

  .pop_up {
    height: 510px;
    max-height: 510px;
    margin: 3.5% 0 3.5% 0; }
    .pop_up .popup_window .projects_box .projects_title_box .title_col {
      width: 95%;
      max-width: 95%; }
    .pop_up .popup_window .resume_box .resume_title_box {
      width: 82.25%; }
    .pop_up .popup_window .resume_box .resume_button {
      width: 15.5%; }
    .pop_up .popup_window .tv_content {
      width: 98%;
      max-width: 98%; }
      .pop_up .popup_window .tv_content .tv_box {
        width: 750px;
        max-width: 750px; }
        .pop_up .popup_window .tv_content .tv_box .player {
          width: 100%;
          max-width: 750px; }
          .pop_up .popup_window .tv_content .tv_box .player .video_player {
            width: 100%;
            max-width: 750px; }
          .pop_up .popup_window .tv_content .tv_box .player .progress {
            max-width: 750px; }
          .pop_up .popup_window .tv_content .tv_box .player .player_controls {
            max-width: 750px; }
            .pop_up .popup_window .tv_content .tv_box .player .player_controls .rangeIcons {
              width: 15px;
              height: 15px; }
            .pop_up .popup_window .tv_content .tv_box .player .player_controls .player_slider {
              height: 24px; }
            .pop_up .popup_window .tv_content .tv_box .player .player_controls .player_button {
              height: 26px;
              font-size: .8rem; }
            .pop_up .popup_window .tv_content .tv_box .player .player_controls .toggle {
              font-size: 1rem; }
            .pop_up .popup_window .tv_content .tv_box .player .player_controls .fullscreenIcon {
              height: 15px;
              width: 15px; }
      .pop_up .popup_window .tv_content .tv_text_box {
        width: 32%;
        max-width: 32%; }
        .pop_up .popup_window .tv_content .tv_text_box .part_text {
          width: 92%;
          max-width: 92%;
          margin: 0 0 .6rem 0;
          font-size: 1rem;
          line-height: 1.4rem; }
    .pop_up .popup_window .vCard_content .vcard_box {
      width: 38%;
      max-width: 38%; }
    .pop_up .popup_window .vCard_content .vcard_text_box {
      width: 56%;
      max-width: 56%; } }
/*
@media (min-height: 667px) {
    .info_section {
        margin: 10% 0 0 0;
    }
    .proj_section {
        margin: 10% 0 10% 0;
    }
    .pop_up,
    .pop_over {
        height: 440px;
        max-height: 440px;
        margin: 10% 0 12% 0;
    }
}
*/
@media (min-height: 800px) {
  .mainpage .info_section {
    margin: 10% 0 0 0; }
  .mainpage .proj_section {
    margin: 10% 0 10% 0; }
  .mainpage .pop_up,
  .mainpage .pop_over {
    height: 480px;
    max-height: 480px;
    margin: 10% 0 12% 0; } }
@media (min-height: 960px) {
  .mainpage .info_section {
    margin: 10% 0 0 0; }
  .mainpage .proj_section {
    margin: 10% 0 10% 0; }
  .mainpage .pop_up,
  .mainpage .pop_over {
    height: 640px;
    max-height: 640px;
    margin: 10% 0 12% 0; } }
@media (min-height: 1024px) {
  .mainpage .pop_up,
  .mainpage .pop_over {
    height: 780px;
    max-height: 780px;
    margin: 10% 0 10% 0; } }

/*# sourceMappingURL=stylesheet.css.map */
