* {
    margin: 0 0;
    padding: 0 0;
    cursor: pointer;
}

//------------------- FONTS
a > p{
    //font-family: 'Big Shoulders Text', cursive;
    //font-family: 'Dosis', sans-serif;
    font-family: 'Genos', sans-serif;
}
p {
    font-family: 'Yaldevi', sans-serif;
}
h2 {
    font-family: 'Encode Sans SC', sans-serif;
    //font-family: 'Genos', sans-serif;
}
h3, h4, h5, h6 {
    //font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Genos', sans-serif;
}

//------------------- COLORS
$green: #116177;
$darkgreen: #0a3e4d;
$lightgreen: #077a77;
$darkred : #670000;
$orange: #f09a06;
$gray: #585858;
$darkgray: #343434;
$linkColor: #036aa2;

//------------------- SHADOWS
@mixin squareShadow {
    box-shadow: 2px 0 3px rgba(2, 2, 2, 0.44), -2px 0 3px rgba(2, 2, 2, 0.44),
                0 2px 3px rgba(2, 2, 2, 0.44), 0 -2px 3px rgba(2, 2, 2, 0.44),
                4px 0 5px rgba(20, 20, 20, 0.22), -4px 0 5px rgba(20, 20, 20, 0.22),
                0 4px 5px rgba(20, 20, 20, 0.22), 0 -4px 5px rgba(20, 20, 20, 0.22);
}

//------------------- NAVBAR & LINKS -------------------
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0 auto;
    padding: 0 0;
    background: rgb(231, 231, 231);
    box-shadow: 0 2px 2px rgba(29, 29, 29, 0.3), 0 4px 4px rgba(53, 53, 53, 0.4);
    z-index: 10;
    cursor: pointer !important;

    .selectdrop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;

        .nav_link,
        #menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: flex-end;
            align-items: flex-end;
            width: 32%;
            max-height: 1.1rem;
            padding: .2rem 0;
            text-decoration: none;
            //border: none;
            //border-bottom: 2px solid transparent;
            border: 2px solid transparent;
            border-top: none;

            .icon {
                width: 16px;
                margin-right: .26rem;
                background: white;
                border-radius: 2px;
            }
            p {
                margin: 4px 0 0 0;
                color: $green;
                font-size: 1rem;
                font-weight: 400;
            }
            &:hover {
                text-decoration: none;
                text-underline-offset: 2px;
                //background: url(../assets/bg/gray-03.jpg) no-repeat;
                //background-size: cover;
                background: rgba(119, 165, 166, 0.8);
                border-color: rgba($darkgreen, .4);

                p {
                    color: white;
                    text-shadow: 1px 1px 1px black, 0 0 2px black;
                }
            }
            .gmail_icon {
                width: 15px;
                padding: 1px 2px;
            }
            .github_icon {
                border-radius: 50%;
            }
            .linkedin_icon {
                border-radius: 5px;
            }
        }
        .drop {
            cursor: pointer !important;
        }
        #menu {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            align-items: center;

            .menuButton{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: flex-end;
                align-items: flex-end;
            }
        }
    }
    //------- NAV Dropdowns -------
    .dropdownBackground {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        opacity: 0;
        //background: $darkgreen;
        background: $green;
        border: 1px solid $gray;
        @include squareShadow();
        transition: all 0.3s, opacity 0.1s, transform 0.2s;
        transform-origin: 50% 0;
        z-index: 10;

        &.open {
            opacity: 1;
        }
        .droparrow {
            position: absolute;
            width: 1.2rem;
            height: 1.2rem;
            display: block;
            background: $darkgreen;
            background: $green;
            border-left: 1px solid $gray;
            border-top: 1px solid $gray;
            box-shadow: -2px -2px 2px rgba(2, 2, 2, 0.44), -4px -4px 4px rgba(20, 20, 20, 0.22);
            transform: translateY(-50%) rotate(45deg);
            z-index: -1;
        }
    }
    .dropdown {
        display: block;
        opacity: 1;
        position: absolute;
        overflow: hidden;
        padding: .4rem .4rem;
        top: -3rem;
        border-radius: 2px;
        transition: all 0.5s;
        transform: translateY(86px);
        will-change: opacity;
        display: none;
        z-index: 10;

        .check_out  {
            color: white;
            font-size: .8rem;
            font-weight: 200;
            letter-spacing: .2rem;
            line-height: 1.3rem;

            span {
                color: $orange;
                font-weight: 400;
                text-shadow: none;
            }
        }
    }
    .trigger-enter .dropdown {
        display: block;
    }
    .trigger-enter-active .dropdown {
        opacity: 1;
    }
}
.menuUnvisible {
    display: none;
}
.menuVisible {
    display: flex;
    flex-direction: column;
    align-items: center;
    //position: absolute;
    min-height: 5.7rem;
    //width: 15rem;
    width: 100%;
    margin-top: 2.8rem;
    padding: 1rem 0;
    background: url(../assets/bg/gray-03.jpg) no-repeat;
    background-size: cover;
    border: 2px solid$orange;
    border-top: none;
    z-index: 10;

    a {
        width: 100%;
        padding: .2rem 0;
        color: white;
        font-size: .8rem;
        text-decoration: none;
        line-height: 1.8rem;
        text-align: center;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 2px;
            background: rgba(0,0,0,.2);
        }
        
    }
}

//------------------- MAINPAGE -------------------
.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background: rgba(140, 163, 163, 0.4);
}
//------------------- PAGE HEADER (Name + Title) -------------------
.pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1.3rem 0 2rem 0;
    padding: .55rem .4rem .3rem 0;
    //background: url("../assets/bg/sand_01.jpg");
    //background-size: cover;
    //border-bottom: 1px solid $darkgreen;
    background: rgba(119, 165, 166, 0.4);
    border-bottom: 1px solid rgba(119, 165, 166, 0.6);
    //box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    box-shadow: 0 0 2px rgb(119, 165, 166);
    cursor: pointer;
}
.pageTitle {
    width: 70%;
    margin: 0 0;
    padding: 1rem .8rem .16rem .05rem;
    text-align: end;
    letter-spacing: 1px;
    //background: url(../assets/bg/gray-04.jpg);
    //background: rgba(241, 241, 241, 0.8);
    //background-size: cover;
    //border: 1px solid $darkgreen;

    .name {
        margin-top: -.8rem;
        color: $darkgreen;
        //color: $darkred;
        //color: $gray;
        font-family: 'Sansita Swashed', cursive;
        font-size: 2rem;
        font-weight: 500;
        text-shadow: 0 0 3px rgba(255, 255, 255, 1);
    }
    .cv {
        margin-top: 7px;
        //color: white;
        color: $darkgray;
        font-family: 'Encode Sans SC', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        word-spacing: 6px;
        text-shadow: 0 0 3px rgb(255, 255, 255);
        //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.4);
        //text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    }
}
.pagePhoto {
    display: flex;
    width: 18%;
    margin: 0 0;
    padding: 0 0;
    //border: 1px solid $darkgreen;

    .myPhoto {
        max-width: 100%;
        border: 1px solid adc9c9;
        //box-shadow: 0 0 2px rgb(118, 118, 118);
        box-shadow: 0 0 2px rgb(119, 165, 166);
    }
}

//------------------- MAIN SECTIONS -------------------
.info_section,
.proj_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: .2rem 0;
    letter-spacing: 1px;
    //background: rgba(119, 165, 166, 0.4);
    //border: 1px solid rgba(119, 165, 166, 0.6);
    //border: 1px solid rgba($darkred, .2);
    border-top: 1px solid rgba($darkred, .4);
    border-right: 1px solid rgba($darkred, .4);
    //border-radius: 4px;
    box-shadow: 1px -1px 2px 0 rgba($darkred, .1);

    .chapter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .4rem .4rem .2rem .4rem;

        .chapter_title {
            padding: .2rem .2rem;
        }
        .chapter_button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 1.64rem;
            height: 1.64rem;
            padding: 0 0;
            //background: rgba(119, 140, 166, 0.2);
            background: rgba($linkColor, .4);
            //border: 1px solid rgba(119, 165, 166, 0.6);
            border: 1px solid rgba($darkgreen, .2);
            border-radius: 4px;
            box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24);
            
            button {
                padding: 0 0;
                outline: none;
                background: transparent;
                border: none;
            }
            img {
                width: 1rem;
                height: .6rem;
                padding: 0 .2rem;
                
            }
        }
    }
}

.info_section {
    padding: .4rem .2rem .3rem 0;

    .info_title {
        width: 90%;
        padding: 0 0 .4rem 0;
        color: $darkgreen;
        //color: $darkred;
        text-align: left;
    }
    .info_chapters {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        width: 90%;
        margin: 0 0;
        padding: .2rem 0 .4rem 0;
        //color: $green;
        color: $darkgray;
        //background: rgba(119, 165, 166, 0.2);
        border: 1px solid rgba(119, 165, 166, 0.8);
        border-right: none;
        //border-top: 1px solid rgba(119, 165, 166, 0.8);
        //border-left: 1px solid rgba(119, 165, 166, 0.8);
        //border-radius: 4px;
        box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24);
    }
}

.proj_section {
    margin: 1.8rem 0 1.1rem 0;
    padding: .4rem .2rem 1.2rem 0;

    .proj_title {
        width: 90%;
        padding: 0 0 .4rem 0;
        color: $darkgreen;
        text-align: left;
    }
    .proj_chapters {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        width: 90%;
        max-width: 100%;
        margin: 0 .5rem;
        padding: .2rem 0 .4rem 0;
        //color: $green;
        color: $darkgray;
        //background: rgba(119, 165, 166, 0.2);
        border: 1px solid rgba(119, 165, 166, 0.8);
        border-right: none;
        //border-top: 1px solid rgba(119, 165, 166, 0.8);
        //border-left: 1px solid rgba(119, 165, 166, 0.8);
        //border-radius: 4px;
        box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24);
    }
}


//------------------- CHAPTERS -------------------
.popup_window {
    position: absolute;
    height: 27.4rem;
    max-height: 27.4rem;
    top: 7rem;
    left: 0;
    padding: .6rem 1rem;
    background: rgb(195, 219, 219);
    border-top: 1px solid rgba(77, 117, 117, 0.6);
    border-bottom: 1px solid rgb(77, 117, 117);
    overflow: scroll;

    .title_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .chapters_title {
        padding-bottom: .3rem;
        color: $darkgreen;
        font-size: 1.8rem;
        font-weight: 600;
    }
    .close {
        height: 1.8rem;
        opacity: .68;
        //background: rgba($darkred, .8);
        border-radius: 50%;
    }
    .chapters_content {
        min-height: 24rem;
        color: $darkgray;
        font-size: .9rem;
        line-height: 1.44rem;
        padding: .6rem 0 .2rem .8rem;
        border-top: 1px solid rgba($darkgreen, .4);
        border-left: 1px solid rgba($darkgreen, .4);
        box-shadow: -2px -2px 2px 0 rgba(119, 140, 166, 0.24);
    }
    .aboutme_box,
    .shool_box,
    .skill_box,
    .projects_box {
        border-right: 1px solid rgba($darkgray, .2);
        border-bottom: 1px solid rgba($darkgray, .2);
        box-shadow: 2px 2px 2px 0 rgba(119, 140, 166, 0.24);
    }
    .aboutme_box {
        margin: 0 0 -1rem 0;
        padding: .2rem .6rem .6rem 0;
        color: $darkgreen;
    }
    .shool_box {
        margin: 0 0 .8rem 0;
        padding: 0 .2rem 0 0;
    }
    .bottom_box {
        margin-bottom: 0;
    }
    .shool_title {
        color: $green;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1rem;
    }
    .shool_lessons {
        padding: .3rem 0;
        color: $green;
        font-family: 'Yaldevi', sans-serif;
        font-size: .7rem;
        font-weight: 500;
        line-height: 1.1rem;
    }
    .shool_info {
        margin: 0 0 .4rem 0;
        font-family: 'Dosis', sans-serif;
        font-size: .9rem;
        font-weight: 300;
        line-height: 1rem;
    }
    .link_btn {
        margin: .2rem 0 .4rem 0;
        padding: 0 .6rem .2rem .6rem;
        background: rgba($linkColor, .4);
        //border: 1px solid $darkgreen;
        border: 1px solid rgba($darkgreen, .2);
        border-radius: 4px;

        a {
            width: 100%;
            text-decoration: none;
            color: white;
            font-family: 'Dosis', sans-serif;
            font-size: .8rem;
            font-weight: 200;
            letter-spacing: 1px;
        }
    }
    .skill_box {
        min-width: 275px;
        margin-bottom: .6rem;
    }
    .skill_title_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .2rem .6rem .2rem 0;

        .skill_title {
            margin-top: .3rem;
            color: $darkgreen;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
        .skill_btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 1.64rem;
            height: 1.64rem;
            padding: 0 0;
            //background: rgba(119, 140, 166, 0.2);
            background: rgba($linkColor, .4);
            //border: 1px solid rgba(119, 165, 166, 0.6);
            border: 1px solid rgba($darkgreen, .2);
            border-radius: 4px;
            box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24);

            .arrow {
                width: 1rem;
                height: .8rem;
                padding: .4rem 0 0 0;
                opacity: .6;
            }
        }
        .btn_hidden {
            display: none;
        }
    }
    .boxHidden {
        display: none;
    }
    .boxVisible {
        display: flex;
    }
    .skill_text_box {
        flex-direction: row;
        justify-content: space-between;
        padding: .4rem .4rem .4rem 0;
        //border-top: 1px solid rgba($darkgreen, .4);
        //border-left: 1px solid rgba($darkgreen, .2);
        //box-shadow: -2px 2px 2px 0 rgba(119, 140, 166, 0.24);

        .icon_column {
            display: flex;
            flex-direction: column;
            padding: 0 .6rem 0 0;
        }

        .skill_icon {
            margin-bottom: .6rem;
            width: 28px;
            height: 28px;
            border: 1px solid rgba($darkgreen, .8);
            border-radius: 2px;
            overflow: hidden;
        }
        .fcp_icon {
            background: rgba($darkgreen, .8);
        }
        .cc_icon,
        .prem_icon,
        .sql_icon {
            width: 30px;
            height: 30px;
            border: none;
            background: rgba(white, .8);
        }
        .skill_text {
            margin: -.2rem 0 0 0;
            padding: 0 .1rem 0 0;
            font-family: 'Yaldevi', sans-serif;
            font-size: .8rem;
            font-weight: 300;
            line-height: 1.3rem;

        }
    }
    .projects_box {
        margin-bottom: .6rem;
    }
    .projects_title_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .2rem .6rem .2rem 0;

        .title_col {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .projects_title {
            margin-top: .3rem;
            color: $darkgreen;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
        .projects_button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 1.64rem;
            height: 1.64rem;
            margin: .2rem .2rem .1rem 1.14rem;
            padding: 0 0;
            //background: rgba(119, 140, 166, 0.2);
            background: rgba($linkColor, .4);
            //border: 1px solid rgba(119, 165, 166, 0.6);
            border: 1px solid rgba($darkgreen, .2);
            border-radius: 4px;
            box-shadow: -2px 0 2px 0 rgba(119, 140, 166, 0.24);
            
            button {
                padding: 0 0;
                outline: none;
                background: transparent;
                border: none;
            }
            img {
                width: 1rem;
                height: .6rem;
                padding: 0 .2rem;
                
            }
        }
        .lowBtn {
            margin: 1.5rem .2rem .1rem 1.14rem;
        }
    }
    .tv_box {
        width: 100%;
        margin: -.6rem 0 0 -.8rem;
        padding: 0 0;

        .player {
            position: relative;
            //overflow: hidden;
            width: 18rem;
            margin: 0 0;
            padding: 0 0;
            font-size: 0;
            border-right: 1px solid rgba($darkgreen, .4);
            border-bottom: 1px solid rgba($darkgreen, .4);
            //overflow: hidden;
        }
        /* This css is only applied when fullscreen is active. */
        .player:fullscreen {
            max-width: none;
            width: 100%;
        }
        .player:-webkit-full-screen {
            max-width: none;
            width: 100%;
        }
        .video_player {
            width: 100%;
            height: 100%;
            margin: 0 0;
        }
        .player_controls {
            display: flex;
            flex-wrap: wrap;
            //position: absolute;
            width: 100%;
            margin: -12px 0 0 0;
            padding: 0 0;
            //bottom: 0;
            //transform: translateY(100%) translateY(-5px);
            //transition: all .3s;
            background: rgba(0, 0, 0, 0.6);
            border-bottom: 1px solid rgba($darkgreen, .4);
        }
        /*
        .player_controls:fullscreen {
            margin-bottom: 2px;
        }
        .player:hover .player_controls {
            transform: translateY(0);
        }
        .player:hover .progress {
            height: 10px;
        }
        */
        .player_controls > * {
            flex: 1;
        }
        .progress {
            flex: 10;
            position: relative;
            display: flex;
            flex-basis: 100%;
            height: 5px;
            top: 0;
            //transition: height 0.3s;
            background: rgba(192, 118, 0, 0.4);
            border-top: 1px solid rgba($darkgreen, .6);
            border-right: none;
            border-bottom: 1px solid rgba($darkgreen, .6);
            border-left: none;
            cursor: ew-resize;
        } 
        .progress_filled {
            width: 0.2%;
            flex: 0;
            flex-basis: 0.2%;
            margin: -1px 0;
            background: rgba(10, 62, 77, 0.66);
            border-top: 1px solid rgba($darkgreen, .8);
            border-right: 2px solid darkred;
            border-bottom: 1px solid rgba($darkgreen, .8);
            border-left: none;
        }
        .player_button {
            width: 28px;
            height: 22px;
            padding: 1px 2px 3px 2px;
            outline: 0;
            color: rgba(255, 255, 255, 0.6);
            font-size: 8px;
            line-height: 1;
            text-align: center;
            cursor: pointer;
            background: rgba(55, 55, 55, 0.2);
            border: none;
            border-right: 1px solid rgba($darkgreen, .4);
            //border-top: 1px solid rgba(136, 136, 136, 0.28);
        }
        .toggle {
            width: 18px;
            padding-top: 2px;
            font-size: 10px;
            //border-left: 1px solid rgba($darkgreen, .4);
        }
        .player_button::-moz-focus-inner {
            border: none;
        }
        .player_button:hover {
            background: rgba(142, 151, 0, 0.2);
        }
        .player_button:focus {
            background: rgba(209, 148, 0, 0.2);
        } 
        .toggle:active {
            background: #143a04;
        }
        .slider_box {
            display: flex;
            justify-content: space-evenly;
        }
        .range_labels {
            display: flex;
            justify-content: flex-end;
            padding-top: 2px;
            background: rgba(55, 55, 55, 0.2);
            border-right: 1px solid rgba($darkgreen, .4);
            //border-top: 1px solid rgba(136, 136, 136, 0.28);
        }
        .range_labels:hover {
            background: rgba(142, 151, 0, 0.2);
        }
        .rangeIcons {
            width: 10px;
            height: 10px;
            margin-right: 2px;
            padding: 4px 4px;
            background: transparent;
            opacity: .6;
        }
        .player_slider {
            min-width: 60px;
            height: 20px;
            margin: 0 3px;
            padding: 0;
            background: rgba($darkgreen, 1);
        }
        .fullscreen {
            display: flex;
            justify-content: center;
            max-width: 50px;
            padding-top: 6px;
            //box-shadow: 2px 2px 2px black;
        }
        .fullscreenIcon {
            height: 12px;
            width: 12px;
            margin-top: -1px;
            opacity: .6;
        }
        /* unholy css to style input type="range" */
        input[type=range] {
            -webkit-appearance: none;
            appearance: none;
            width: 94%;
            margin: 0 3px 0 -2px;
            background: transparent;
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]::-webkit-scrollbar {
            background: rgba($darkgreen, 1);
        }
        input[type=range]::-webkit-slider-runnable-track {
            width: 94%;
            height: 4px;
            margin-left: -4px;
            cursor: pointer;
            background: rgba($darkgreen, .4);
            border: 1px solid rgba($darkgreen, .4);
            border-radius: 28px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        }
        input[type=range]::-webkit-slider-thumb {
            height: 8px;
            width: 8px;
            border-radius: 50px;
            background: rgba($darkgreen, 1);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -4px;
            border: 1px solid rgba($darkgreen, .4);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: rgba(186, 218, 85, 0.6);
        }
        input[type=range]::-moz-range-track {
            width: 94%;
            height: 8px;
            margin-left: -4px;
            cursor: pointer;
            border: 1px solid rgba($darkgreen, .4);
            border-radius: 28px;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
        }
        input[type=range]::-moz-range-thumb {
            height: 8px;
            width: 8px;
            border-radius: 50px;
            background: rgba($darkgreen, 1);
            border: 1px solid rgba($darkgreen, .4);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
            cursor: pointer;
        }
    }
    .tv_text_box {
        margin: .8rem 0 -.8rem 0;
        padding: .2rem .5rem .6rem 0;
        border-right: 1px solid rgba($darkgreen, .4);
        border-bottom: 1px solid rgba($darkgreen, .2);
        box-shadow: 2px 2px 2px 0 rgba(119, 140, 166, 0.24);

        .part_text {
            font-size: .8rem;
            line-height: 1.24rem;
        }
    }
    .vcard_box {
        margin: -.6rem 0 0 -.8rem;
        padding: 0 0;
    }
    .vcard_content {
        min-width: 17.8rem;
        max-width: 17.8rem;
        min-height: 11rem;
        max-height: 11rem;
        margin: 0 0;
        padding: 0 0;
        background: url("../assets/vcard/vcard_bg_01.jpg") no-repeat;
        background-size: cover;
        border: 1px solid $darkgreen;

        header,
        footer {
            width: 100%;
            max-height: 1.3rem;
            margin: .4rem auto;
            padding: .05rem 0;
            background: rgba(black, .8);
            border-top: 1px solid $lightgreen;
            border-bottom: 1px solid $lightgreen;

            h4 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 90%;
                margin: 0 auto;
                padding: 0 0;

                span {
                    display: block;
                    margin: -.1rem 0 0 0;
                    color: $lightgreen;
                    //font-family: 'yaldevi', sans-serif;
                    font-family: 'Port Lligat Sans', cursive;
                    font-size: 1rem;
                    font-weight: 300;
                    letter-spacing: .08rem;
                    word-spacing: .06rem;
                    text-shadow: 1px 1px 2px black,  -1px -1px 2px black;
                }
                .text {
                    margin: -.1rem 0 0 0;
                    color: $lightgreen;
                    font-size: .8rem;
                    text-shadow: 1px 1px 2px black,  -1px -1px 2px black;
                    transform: scaleY(1.2);
                }
            }
        }
        header {
            margin-bottom: .7rem;
        }
        footer {
            margin-top: .7rem;
        }
        address {
            margin: 0 .8rem 0 5.8rem;
            padding: .1rem .4rem;
            color: white;
            font-family: 'Genos', sans-serif;
            font-style: normal;
            font-weight: 200;
            letter-spacing: 2px;
            text-align: right;
            background: rgba(black, .9);
            border: 1px solid $green;

            #fn, #email,
            .org, .street-address, .locality, .region, .postal-code, .country-name {
                max-height: .8rem;
                margin: 0 0;
                padding: .1rem 0;
            }
            #fn {
                width: 100%;
                padding: 0 0 .1rem 1rem;
                font-size: 1rem;
                border-bottom: 1px solid rgba($gray, .46);
            }
            #fn,
            .org {
                color: white;
            }
            .org {
                margin-top: -.4rem;
                font-size: .7rem;
            }
            #email {
                min-width: 180px;
                color: $linkColor;
                font-size: .7rem;
                font-weight: 500;
                letter-spacing: 2px;
                text-decoration: none;
                
                &:hover {
                    color: #5f9f27;
                }
            }
            .adr {
                margin-top: -.55rem;
                font-size: .6rem;
            }
            .locality {
                margin-left: -.5rem;
            }
            .postal-code, .country-name {
                letter-spacing: 0px;
                margin-left: -2px;
            }
        }
    }
    /*
    .vcard_content {
        min-width: 512px;
        max-width: 512px;
        min-height: 296px;
        max-height: 296px;
        margin: 0 0;
        padding: 0 0;
        background: url("../assets/vcard/vcard_bg_04.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid $darkgreen;

        header,
        footer {
            width: 100%;
            margin: .4rem auto;
            padding: .5rem 0;
            background: rgba(black, .8);
            background-size: cover;
            border-top: 1px solid $lightgreen;
            border-bottom: 1px solid $lightgreen;

            h4 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 0 auto;
                padding: 0 .2rem;

                span {
                    display: block;
                    margin: 0 0;
                    color: $lightgreen;
                    //font-family: 'yaldevi', sans-serif;
                    font-family: 'Port Lligat Sans', cursive;
                    font-size: 1.6rem;
                    font-weight: 300;
                    letter-spacing: .16rem;
                    word-spacing: .4rem;
                    text-shadow: 1px 1px 2px black,  -1px -1px 2px black;
                }
                .text {
                    margin: -.2rem 0 0 0;
                    color: $lightgreen;
                    font-size: 1.2rem;
                    text-shadow: 1px 1px 2px black,  -1px -1px 2px black;
                    transform: scaleY(1.2);
                }
            }
        }
        header {
            margin-bottom: 1.2rem;
        }
        footer {
            margin-top: 1.2rem;
        }
        address {
            margin: 0 28px 0 220px;
            padding: 8px 16px;
            color: white;
            font-family: 'Genos', sans-serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 2px;
            text-align: right;
            background: rgba(black, .8);
            border: 1px solid $green;

            #fn, #email,
            .org, .street-address, .locality, .region, .postal-code, .country-name {
                max-height: 20px;
                margin: 5px 0;
                padding: 2px 0;
            }
            #fn {
                padding: 0 0 5px 1.2rem;
                font-size: 2rem;
                border-bottom: 1px solid rgba($gray, .46);
            }
            #fn,
            .org {
                color: white;
            }
            .org {
                margin-top: 6px;
            }
            #email {
                min-width: 180px;
                color: $linkColor;
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: 2px;
                text-decoration: none;
                
                &:hover {
                    color: #5f9f27;
                }
            }
            .adr {
                font-size: 1rem;
            }
            .locality {
                margin-left: -.5rem;
            }
            .postal-code, .country-name {
                letter-spacing: 0px;
                margin-left: -2px;
            }
        }
    }
    */
    .vcard_text_box {
        margin: .8rem 0 -.8rem 0;
        padding: .2rem .5rem .6rem 0;
        border-right: 1px solid rgba($darkgreen, .4);
        border-bottom: 1px solid rgba($darkgreen, .2);
        box-shadow: 2px 2px 2px 0 rgba(119, 140, 166, 0.24);

        .part_text {
            font-size: .8rem;
            line-height: 1.24rem;
        }
    }
}

.popover_window {
    position: absolute;
    height: 27.4rem;
    max-height: 27.4rem;
    top: 7rem;
    left: 0;
    padding: .6rem 1rem;
    background: rgb(195, 219, 219);
    border-top: 1px solid rgba(77, 117, 117, 0.6);
    border-bottom: 1px solid rgb(77, 117, 117);
    overflow: scroll;

    .pojects_title_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .projects_title {
        padding-bottom: .3rem;
        color: $darkgreen;
        font-size: 1.8rem;
        font-weight: 600;
    }
    .close {
        height: 1.8rem;
        opacity: .68;
        //background: rgba($darkred, .8);
        border-radius: 50%;
    }
    .projects_content {
        min-height: 24rem;
        color: $darkgray;
        font-size: .9rem;
        line-height: 1.44rem;
        padding: .6rem 0 .2rem .8rem;
        border-top: 1px solid rgba($darkgreen, .4);
        border-left: 1px solid rgba($darkgreen, .4);
        box-shadow: -2px -2px 2px 0 rgba(119, 140, 166, 0.24);
    }
    .proj_box {
        margin: 0 0 1rem 0;
        padding: .2rem .6rem .6rem 0;
        border-right: 1px solid rgba($darkgray, .2);
        border-bottom: 1px solid rgba($darkgray, .2);
        box-shadow: 2px 2px 2px 0 rgba(119, 140, 166, 0.24);
    }
    .bottom_box {
        margin: 0 0;
    }
    .proj_title_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .2rem .6rem .2rem 0;
    }
    .proj_title {
        margin-top: .2rem;
        color: $darkgreen;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    .proj_subtitle {
        margin: .2rem 0 .3em 0;
        color: $green;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1rem;
    }
    .proj_content {
        padding: .3rem .3rem .4rem 0;
        border-top: 1px solid rgba($gray, .2);
        border-right: 1px solid rgba($gray, .2);
        box-shadow: inset -1px -1px 2px rgba($gray, .2);
    }
    .proj_text {
        font-family: 'Yaldevi', sans-serif;
        font-size: .7rem;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.1rem;
    }
    .link_box {
        width: 100%;
        margin: .6rem 0 0 0;

        .proj_link {
            width: 100%;
            margin: 0 0 .4rem 0;
            text-decoration: none;
            
            .link {
                max-width: 100%;
                max-height: 1rem;
                margin: 0 0;
                padding: .1rem .5rem .2rem 0;
                background: rgba($linkColor, .5);
                border: 1px solid rgba($linkColor, .6);
                color: white;
                font-family: 'Yaldevi', sans-serif;
                font-size: .7rem;
                font-weight: 300;
                letter-spacing: 1px;
                line-height: 1rem;
                text-align: right;
            }
        }
    }
    .spec_link {
        margin: .6rem 0;
    }
}